body {
    margin: 0;
}

.header {
    display: flex;
    background-color: rgb(2, 0, 8);
    width: 100%;
    border-bottom: 4px solid rgb(37, 168, 255);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 206, 143);
    height: 60px;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(37, 168, 255);
    font-weight: normal;
}

.agora {
    font-weight: bolder;
}
li {
    padding: 0 30px;
}    

a {
    text-decoration: none;
    color: rgb(255, 206, 143);
}    


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1505px;
    height: fit-content;
}    

.banner {
    display: flex;
    background-image: url(bg-jelly-fish-para-home.png);
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-color: black;
    
    p{
        width: 150px;
        flex-direction: column;
        font-size: 40px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 450px;
        line-height: 1;
    }
    span {
        font-weight: bolder;
    }    
}    

.social {
    background-color:lightgrey;
    width: 100%;
}    

.boxes{
    display: flex;
    flex-direction: row;
}    

img {
    width: 150px;
}    

.box{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-align: center;
    margin: 80px;
    padding-left: 3px;

    h4 {
        font-size: xx-large;
        font-weight: bolder;
        color: crimson;
        margin-top: 10px;
        margin-bottom: 3px;
    }    
}    

.footer {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 36px;
    width: 100%;
    background-color: rgb(37, 168, 255);
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    .container{
        flex-direction: column;
        align-items: center;
    }

    h4{
        margin-bottom: 3px;
        font-weight: lighter;
    }
    
    .version {
        font-weight: lighter;
    }
}


.login {
    display: flex;
    background-image: url(bg-jelly-fish-para_outras_pags.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    width: 100%;
    height: 500px;
}

.card {
    display: flex;
    background-color: lightgrey;
    height: fit-content;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(211, 73, 101);
    justify-content: center;
    padding-inline: 60px;

    h2{
        margin-inline: 10px;
        font-weight: bolder;
        margin-bottom: 3px;
    }
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    margin-bottom: 10px;
}

.campo{
    display: flex;
    flex-direction: column;

    input {
        padding-inline: 100px;
        padding-block: 10px;
        border-radius: 10px;
        border-color: rgb(37, 168, 255);
        border-width: 3px;
        border-style: solid;
    }
}

.botao{
    margin-block: 10px;
    margin-top: 20px;
    padding-inline: 40px;
    padding-block: 3px;
    background-color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: large;
    color: white;
    border-radius: 5px;
    border-color: crimson;
    border-style: solid;
}

.simulador {
    background-color: lightgrey;
    padding-bottom: 73px;
    width: 100%;

    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    p{
        padding-inline: 100px;
    }

    h2{
        color: crimson;
    }
}